@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
  margin:  0;
  padding: 0;
  outline: 0;
  border:  0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100%;

  --color-1: #FEFFFF;
  --color-2: #DEF2F1;
  --color-3: #3AAFA9;
  --color-4: #2B7A78;
  --color-5: #17252A;
}

body {
  background: var(--color-2);
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: Roboto, sans-serif;
}

#app{
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/*-----------------SIDE BAR------------------*/

#app aside{
  width: 315px;
  background: var(--color-1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  padding: 20px 20px;
}

#app aside strong{
  font-size: 1.4rem;
  text-align: center;
  display: block;
  color: var(--color-5);
}

#app aside form{
  margin-top: 10px;
}

#app aside form .input-block{
  margin-top: 30px;
}

#app aside form .input-block label{
  color: var(--color-4);;
  font-size: 1rem;
  font-weight: bold;
  display: block;
}

#app aside form .input-block input{
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  color: var(--color-4);;
  border: 0;
  border-bottom: 1px solid var(--color-2);;
}

#app aside form button[type=submit]{
  width: 100%;
  border: 0;
  margin-top: 30px;
  background: var(--color-3);
  border-radius: 4px;
  padding: 15px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--color-1);
  cursor: pointer;
  transition: background 0.35s;
}

#app aside form button[type=submit]:hover {
  background: var(--color-4)
}

/*-----------------TASKS------------------*/

#list{
  flex: 1;
  margin-left: 30px;
}

#list ul{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  list-style: none;
}

#list li.task{
  display: grid;
  grid-template-columns: 1fr 2.5rem;
  background: #FFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  padding: 20px;
  transition: all 0.25s ease-in-out;
}

#list li.task:hover{
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

}



#list .task-info{
  display: grid;
  grid-template-columns: 17fr 4em;
}

#list li button{
  background: var(--color-4);
  color: var(--color-1);
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}


#list li button:hover{
  background: var(--color-5);
}

@media (max-width: 1000px){
  #app{
      flex-direction: column;
      align-items: center;
      padding: 40px 50px;
  }

  #list{
      width: 100%;
      margin-left: 0;
      margin-top: 30px;
  }

  #app aside{
      width: 100%;
      max-width: 400px;
  }
}